/* list style*/
.list_col{
	background-color: #36495b;
	display: block;
	padding: 0px;
	border-radius: 5px;
}

.col-4-1{
	background-color: #36495b;
	position: relative;
	float: left;
	display: block;
	width: 25%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
.col-4-1 span{
	position: relative;
	display: inline-block;
	border-width: 1px;
	top: 0px;
	left: 0px;
	height: 35px;
	bottom: 0px;
	right: 0px;
	padding-top: 10px;
	text-align: center;
	vertical-align: middle;
	border-style: solid;
	border-top-color: #465768;
	color: #E1EDFA;
	border-left-color: #465768;
	border-bottom-color: #24313e;
	border-right-color: #24313e;
	display: block;
	font-weight: bold;
	font-size: 9px;
	font-family: normal;
}
.col-4-1.first span{
	border-left-width: 0px;
}
.col-4-1.last span{
	border-right-width: 0px;
	clear: right;
}

/* major body css */
html,body{
	margin: -10px 50px 0px 50px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding: 0px;
	background-color: #E5EBE3;
}


/* header css */
#header{
	height: 38px;
}
.menu{
	background-color: #B4C7C9;
	width: 100%;
	padding-left: 0px;
	margin-top: 0px;
	
}
.menu li {
	background-color: #11808A;
	font-weight: bold;
	font-size: 20px;
	display: inline-block;
	position: relative;
	padding: 0px;
	margin: 0px;
	padding-top: 5px;
	text-align: center;
	border-width: 1px; 
	border-style:solid;
	border-left-color: #41DBFF;	
	border-right-color: #143557;
	height: 32px;
	width: 100px;
	font-style: normal;
}
.menu li a{
	color: #E1EDFA;
	text-decoration: none;
}
.menu li:first-child{
	border-left-width: 0px;
}
.menu li:last-child{
	border-right-width: 0px;
}
/* main view css*/
h2,p,li span{ 
	font-size: 15px;
	font-weight: bold;
	color: #53769C;
}
p{
	margin-bottom: 5px;
}
.text-list{
	position: relative;
	display: block;
	margin: 0px;
	right: 20%;
	float: right;
}
/* calendar */
.calendar{
	color: #53769C;
	text-decoration: none;
	list-style-type: circle;
}
.calendar li,.day li{
	width: 15px;
	display: inline-block;
	position: relative;
	cursor: pointer;
	padding: 2px;
	border: 1px solid #77B0BB;
	color: #283536;
	background-color: #6597A3;
	box-shadow: 0px 1px 10px 0px #0c0c0c;
}
.day li{
	
	margin-left: 5px;
}
.day{
	display: block;
	width: 200px;
}
.itemlist{
	position: relative;
	width: 100%;
}
.head-row{
	background-color: #7B8792;
}
.col-10-1{
	height: 20px;
	text-align: center;
	font-size: 9px;
	display: inline-block;
	width: 10%;
	position: relative;
	padding: 0px;
	margin:0px;
	color: #283536;
	border-width: 0px 1px 0px 1px;
	border-style:solid;
	padding: 0px;
	margin: 0px;
	border-left-color: #B8B1B1;
	border-right-color: #666F6D;;
}
.col-10-1:last-child{
	border-right-width: 0px;
	width:auto;
}
.row div.col-10-1{
	border-style:none;
}
.row.odd{
	background-color:#ADC8DD;
}
.row.even{
	background-color:#fffcfc;
}
.invaild{
	color:red;
}
.footer{
	clear: both;
	display: block;
	position:absolute;
	top: 100%;
	color: #000;
}
.footer span.oi{
	display: block;
	margin-top: -25px;
}

.caret {
	color: #E1EDFA;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

/* dropdown menu*/
.dropmenu{
	z-index: 1000;
	position: relative;
	float: left;
	margin-left: 0px;
	padding-top: 10px;
	padding-left: 0px;
	display: none;

}
.dropmenu li{
	border-top-color: #41DBFF;	
	border-bottom-color: #143557;
	cursor: pointer;
	border-width: 1px 0px 1px 0px;
	font-size: 15px;
	vertical-align: middle;
}
.dropmenu li:first-child{
	border-radius: 5px 5px 0px 0px;
}
.dropmenu li:last-child{
	border-bottom-width: 0px;
	border-radius: 0 0px 5px 5px;
}
.showsubmenu{
	display: block;
}
.down{
	border-top-width: 0px;
	border-bottom: 4px solid;
}
.menu>li:hover{ 
	background-color: #469DFC;
}

h3{
	color: #000;
}

/* list module -> foot print*/

.title_line{
	position: relative;
}
.footprint{
	position: absolute;
	right: 0px;
	display: inline-block;
	border-left:2px solid #bbb;	
	border-top:2px solid #bbb;	
	border-radius: 3px;
	background-color: #e8e7e7;
	box-shadow: #fff 0px 2px 1px 0px;
	text-align: center;
	font-size: 25px;
	padding: 0px;
	height: 25px;
	width: 275px;
	margin: 5px;
}
.footprint input{
	background-color: #e8e7e7;
	display: block;
	padding: 0px;
	margin: 0px;
	position: relative;
	height: 100%;
	width: 100%;
	border:none;
}
.title_line button{
	border-radius: 5px;
	box-shadow: #D3CFCF 0px 0px 2px 2px;
	font-size: 25px;
	text-align: center;
	margin: 5px;
	position: relative;
	display: inline-block;
	border:2px solid #bbb;	
	font-weight: bold;
	background-color: #fff;
}
.btn-group {
	padding: 0px;
	margin-top:-5px;
}
.btn-group ,.btn-menu , .btn-menu li{
	position: relative;
	display: inline-block;
	padding: 0px;
	
}
.btn-menu{
	margin: 0px;	
}
.btn-menu li{
	border-radius: 5px;
	height: 34px;
	width: 86px;
	border: 1px solid #ddd;

}
.btn-menu li a{
	color: #fff;
	text-decoration: none;
	display: block;
	padding-top: 5px;
	text-align: center;
}
.btn-menu li:first-child{
	background-color: #428bca;
	border-color: #357ebd;	
}
.btn-menu li:nth-child(2){
	background-color: #5cb85c;
	border-color: #4cae4c;
}
.btn-menu li:nth-child(3){
	background-color: #f0ad4e;
	border-color: #eea236;
}
.btn-menu li:last-child{
	background-color: #d9534f;
	border-color: #d43f3a;	
}
/* tab page*/
.tab > li{
	display:block;
	position: relative;
	float: left;
	width: 130px;
	text-align: center;
	line-height: 1.2;
	padding: 10px;
	margin-bottom: -1px;
}
.tab >li.active {
	border-radius: 10px 10px 0 0;
	color: #555;
	cursor: default;
	/**/
	background-color: #CCD3CD;
	border: 1px solid #9E9E9E;
	border-bottom-color: transparent;
	border-bottom-width: 2px;
}
.tab {
	display: table;
	margin-bottom: 0px;
	border-bottom-color: #9E9E9E;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	width: 100%;
	box-sizing:border-box;
}
.tab>li>a{
	cursor: pointer;
	position: relative;
	display: block;
	width: 75px;
	margin-left: auto;
	margin-right: auto;
	line-height: 1;
	left: 0;
	right: 0;
}
.tab:before{
	display: block;
	content: "  "
}

.tagpage{
	position: relative;
	border-top: 1px solid #fff;
	width: 100%;
	height: 375px;
	background-color: #CCD3CD;
}

/*help chat*/
.helpChat{
	height: 175px;
	width: 280px;
	position: fixed;
	right: 50px;
	bottom: 20px;
	display: block;
	background-color: #5ba0d0;
	border-radius: 5px;
}
.helpChat>div{
	position: absolute;
	top: 0;
	bottom: 0;
	height: 130px;
	width: 280px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: auto;
	background-color: #fff;
}
.helpChat span{
	font-size: 16px;
}

.helpChat .textcontainer{
	height: 45px;
	width: 100%;
	display: block;
	position: absolute;
	bottom: 0px;
	height: 35px;
}

.textcontainer input{
	border: 2px solid #ddd;
	border-radius: 5px;
	margin-left: 5px;
	display: block;
	position: static;
}
.helpChat div.showtext{
	
}

/* box model */
h2~span{
	line-height: 1.5;
	/**/border-top: 10px solid #6795A3;
	background-color: #ddd;
}

.inlineblock>span{
	height: auto;
	width: 20%;
	display: inline-block;
}

/* tool tip*/
.tipCt{
	padding: 20px;
}
.tip{
	width: 345px;
	height: 125px;
	position: relative;
	display: block;
	display: block;
	padding: 0px;
	margin: 0px;
	border:1px solid #dfdddd;

	box-shadow: 0 1px 5px 0px #000;
}

.tip .arrow{
	top: -22px;
	left: 50%;
	margin-left: -22px;
	position: absolute;
	display: block;
	border: 11px solid #CEC9C9;
	padding: 0px;
	margin: 0px;
	border-left-color: transparent;
	border-top-color: transparent;
	border-right-color: transparent;
}
.tip div.arrow:after{
	top:1px;
	position: absolute;
	display: block;
	content: "";
	margin-left: -10px;
	border: 10px solid transparent;
	padding: 0px;
	margin-bottom: -2px;
	border-bottom-color: #CEC9C9;
}
div.tip>h3{
	padding: 0px;
	margin: 0px;
	background-color: #CEC9C9;
}

/* carousel */
.carousel{
	position: relative;
	display: block;
	clear: left;
}

.leftdirect , .rightdirect{
	top: 0;
	margin-top: auto;
	margin-bottom: auto;
	bottom: 0;
	position: absolute;
	width: 30px;
	cursor: pointer;

	height:30px;
	font-weight: 900;
	font-size: 30px;
	text-align: center;
}
.leftdirect{
	left: 110px;
}
div.leftdirect span:before{
	content: " ";
	width: 30px;
	height: 30px;
	display: block;
	background-color: transparent;
	background-image: url('images/left.png');
}

.rightdirect{
	right: 110px;

}

div.rightdirect span:before{
	content: " ";
	width: 30px;
	background-color: transparent;
	display: block;
	height: 30px;
	background-image: url('images/right.png');
}

.indicators{
	position: absolute;
	bottom: 10px;
	width: 135px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
.indicators ol li{
	cursor: pointer;
	display: inline-block;
	border: 1px solid #70655E;
	border-radius: 10px;
	width: 10px;
	height: 10px;
	background-color: #9DBEE0;
}
.content {
	width: 100%;
	background-color: #4D4949;
	height: 245px;
}
.item{
	position: absolute;
	bottom: 0;
	top: 0;
	margin-top: auto;
	margin-bottom: auto;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 575px;
	height: 75px;
}
.item>p,.item>h3{
	color: #fff;
}

/* modal window */
.winwrapper {
	display: none;
	-webkit-animation:animations 2s ease-out;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: .5;
	outline-color: #333;
	background-color: #333;
	color: #333;
}
.modal-win {
	z-index: 99;
	position: relative;
	display: none;
	border:1px solid #fff;
	background-color: #fff;
	box-shadow: #000 0px 0px 2px 2px;
	width: 535px;
	margin: 130px auto;
	height: 175px;
	border-radius: 5px;
}
.win-head{
	min-height: 18px;
	border-bottom: 1px solid #000;
}
.win-footer{
	position: relative;
	
}
.win-body{
	position: relative;
	height: 56px;
}
.btn-wrapper{
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: right;
}
.btn-wrapper button{
	width: 175px;
	height: 35px;
	border-radius: 5px;
	background-color: #3071a9;
	border-color: #285e8e;
}
.btn-wrapper button:hover{
	color: #333;
	border-radius: 5px;
	background-color: #e6e6e6;
	border-color: #adadad;
}
.close-btn{
	border-radius: 5px;
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 20px;
	border:none;
	font-weight: bold;
}