
/* dropdown menu*/
.dropmenu{
	z-index: 1000;
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	padding: 0;
	margin-top: 1px;
	min-width: 160px;
	list-style: none;
	background-color: #11808A;
	box-shadow: -1px 0px 2px 2px #ffe0e0;
	/*margin-left: 0px;
	padding-top: 10px;
	padding-left: 0px;*/

}

.divider{
	height: 1px;
	padding: 0px !important;
	overflow: hidden;
	margin: 9px 0;
	background-color: #fff;
}

.dropmenu li{
	position: relative;
	display: list-item;
	text-align: left;
	text-decoration: none;
	border-top-color: #41DBFF;	
	border-bottom-color: #143557;
	cursor: pointer;
	border-width: 1px 0px 1px 0px;
	font-size: 15px;
	vertical-align: middle;
	padding: 5px 10px;
}

.dropmenu li:hover{
	background-color: #ddd;
}

.dropmenu li:last-child{
	border-bottom-width: 0;
	/*border-radius: 0 0px 5px 5px;*/
}

.dropmenu li a{
	text-decoration: none;
	color: #fff;
}

.showsubmenu{
	display: block;
}


/* header css */
#header{
	height: 38px;
}

/* head menu*/
.menu{
	background-color: #B4C7C9;
	width: 100%;
	padding-left: 0px;
	margin-top: 0px;
	
}
/* top menu */
.menu li a:hover{ 
	background-color: #D8D8D8;
}

.caret {
	color: #E1EDFA;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
.down{
	border-top-width: 0px ;
	border-bottom: 4px solid;
}

.menu >li {
	display: inline-block;
	position: relative;
	padding: 0px;
	margin: 0px;
	height: 38px;
	width: 10%;
	text-align: center;
}
.menu>li>a{
	display: block;
	line-height: 2;
	border-width: 1px; 
	border-style:solid;
	border-left-color: #41DBFF;	
	border-right-color: #143557;
	font-style: normal;
	background-color: #11808A;
	font-weight: bold;
	font-size: 20px;
	color: #E1EDFA;
	text-decoration: none;
}
.menu >li:first-child{
	border-left-width: 0px;
}
.menu >li:last-child{
	border-right-width: 0px;
}

.text-list{
	position: relative;
	display: block;
	margin: 0px;
	right: 20%;
	float: right;
}

/* list style*/
.list_col{
	background-color: #36495b;
	display: block;
	padding: 0px;
	border-radius: 5px;
}

.col-4-1{
	background-color: #36495b;
	position: relative;
	float: left;
	display: block;
	width: 25%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
.col-4-1 span{
	position: relative;
	display: inline-block;
	border-width: 1px;
	top: 0px;
	left: 0px;
	height: 35px;
	bottom: 0px;
	right: 0px;
	padding-top: 10px;
	text-align: center;
	vertical-align: middle;
	border-style: solid;
	border-top-color: #465768;
	color: #E1EDFA;
	border-left-color: #465768;
	border-bottom-color: #24313e;
	border-right-color: #24313e;
	display: block;
	font-weight: bold;
	font-size: 9px;
	font-family: normal;
}
.col-4-1.first span{
	border-left-width: 0px;
}
.col-4-1.last span{
	border-right-width: 0px;
	clear: right;
}

