/* table*/
.table{
	text-align: left;
	width: 100%;
	border-spacing: 0;
	position: relative;
	background-color: #fff;
	border: 1px solid #ADADAD;	
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.table-header{
	margin-top: 20px;
	margin-left: -1px;
	margin-right: -1px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 100%;
	font-size: 20px;
	color: #333;
	background-color: #ddd;
	border: 1px solid #ADADAD;
}
.table-header span{
	padding-left: 10px;
}
.table td{
	border-top: 1px solid #ddd;
	border-left-width: 0;
	border-right-width: 0;
	margin: 0;
	padding: 8px;
}
.table th{
	border-left-width: 0;
	border-right-width: 0;
	border-bottom: 2px solid #ddd;
	margin: 0;
	padding: 8px;
}
.table tr:nth-child(odd)>td{
	background-color: #f9f9f9;
}
/* page */
.pagination li{
	border-radius: 5px;
	border: 1px solid #ddd;
	/*float: left;*/
	background-color: #fff;
	display: inline;
	border-left: 1px solid #ddd;
	padding: 5px 10px;
}
.pagination>li>a{
	text-decoration: none;
}