/* table*/
.table{
	text-align: left;
	width: 100%;
	position: relative;
	background-color: #fff;
	border: 1px solid #ADADAD;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.table-header{
	margin-top: 20px;
	margin-left: -1px;
	margin-right: -1px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 100%;
	font-size: 20px;
	color: #333;
	background-color: #ddd;
	border: 1px solid #ADADAD;
}
.table-header span{
	padding-left: 10px;
}
.table td{
	border-top: 1px solid #000;
	border-left-width: 0px;
	border-right-width: 0px;
	margin: 0px;
}
.table th{
	border-left-width: 0px;
	border-right-width: 0px;
	padding: 0px;
	margin: 0px;
}