.col-4-1{
	position: relative;
	display: inline-block;
	width: 25%;
	height: 56px;
	margin: 0px;
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-top-color: #465768;
	color: #E1EDFA;
	border-left-color: #465768;
	border-bottom-color: #24313e;
	border-right-color: #24313e;

}
.col-4-1.first{
	border-left-width: 0px;
}
.col-4-1.last{
	border-right-width: 0px;
}
.col-4-1 span{
	position: relative;
	display: block;
	font-weight: bold;
	font-size: 9px;
	font-family: normal;
	text-align: left;
	margin-top: 15px;
	margin-left: 10px;
}
.list_col{
	background-color: #36495b;
	display: block;
	
	padding: 0px;
	border-radius: 5px;
}
.list_col div {
}
/* major body css */
html,body{
	color: #E1EDFA;
	margin: -10px 50px 0px 50px;
	padding: 0px;
	background-color: #E5EBE3;
}
/* header css */
#header{
	height: 38px;
}
.menu{
	background-color: #B4C7C9;
	width: 100%;
	padding-left: 0px;
	
	
}
.menu li {
	border-radius: 5px;
	background-color: #11808A;
	font-weight: bold;
	font-size: 20px;
	display: inline-block;
	position: relative;
	padding: 0px;
	margin: 0px;
	padding-top: 5px;
	text-align: center;
	border-width: 1px; 
	border-style:solid;
	border-left-color: #41DBFF;	
	border-right-color: #143557;
	height: 32px;
	width: 135px;
	font-style: normal;
}
.menu li a{
	color: #E1EDFA;
	text-decoration: none;
}
.menu li:first-child{
	border-left-width: 0px;
}
.menu li:last-child{
	border-right-width: 0px;
}
/* main view css*/
h2,p,li span{ 
	font-size: 15px;
	font-weight: bold;
	color: #53769C;
}
p{
	margin-bottom: 5px;
}
.text-list{
	position: relative;
	display: block;
	margin: 0px;
	right: 20%;
	float: right;
}
/* calendar */
.calendar{
	color: #53769C;
	text-decoration: none;
	list-style-type: circle;
}
.calendar li,.day li{
	width: 15px;
	display: inline-block;
	position: relative;
	cursor: pointer;
	padding: 2px;
	border: 1px solid #77B0BB;
	color: #283536;
	background-color: #6597A3;
	box-shadow: 0px 1px 10px 0px #0c0c0c;
}
.day li{
	
	margin-left: 5px;
}
.day{
	display: block;
	width: 200px;
}
.itemlist{
	position: relative;
	width: 100%;
}
.head-row{
	background-color: #7B8792;
}
.col-10-1{
	height: 20px;
	text-align: center;
	font-size: 9px;
	display: inline-block;
	width: 10%;
	position: relative;
	padding: 0px;
	margin:0px;
	color: #283536;
	border-width: 0px 1px 0px 1px;
	border-style:solid;
	padding: 0px;
	margin: 0px;
	border-left-color: #B8B1B1;
	border-right-color: #666F6D;;
}
.col-10-1:last-child{
	border-right-width: 0px;
}	